################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/backup
/Core.Logger/Core.Logger/obj
/Core.Logger/Core.Logger/bin/Debug/netcoreapp2.0
/Core.Logger/.vs/Core.Logger/v16
/Core.Logger/Core.Logger/bin/Debug
/Core.Excel/Core.Excel/obj
/Core.Excel/Core.Excel/bin/Debug/netstandard2.0
/Core.Excel/.vs/Core.Excel/v16/.suo
/Core.Logger/.vs/Core.Logger/DesignTimeBuild/.dtbcache.v2
/Core.BlobStorage/Core.BlobStorage/obj
/Core.BlobStorage/Core.BlobStorage/bin/Debug/netstandard2.0
/Core.BlobStorage/.vs/Core.BlobStorage/v16
/Core.Excel/.vs/Core.Excel/DesignTimeBuild/.dtbcache.v2
/Core.GraphAPI/Core.GraphAPI/obj
/Core.GraphAPI/Core.GraphAPI/bin/Debug/netcoreapp3.1
/Core.GraphAPI/.vs/Core.GraphAPI/v16/.suo
/Core.BlobStorage/.vs/Core.BlobStorage/DesignTimeBuild/.dtbcache.v2
/Core.GraphAPI/.vs/Core.GraphAPI/DesignTimeBuild
/Core.Teams
/Core.AzureAD/Core.AzureAD/obj
/Core.AzureAD/Core.AzureAD/bin/Debug/netstandard2.0
/Core.AzureAD/.vs/Core.AzureAD/v16
/Core.AzureAD/.vs/Core.AzureAD/DesignTimeBuild/.dtbcache.v2
/Core.LDAP/.vs/Core.LDAP/v16
/Core.LDAP/Core.LDAP/obj
/Core.LDAP/Core.LDAP/bin/Debug/netstandard2.0
/Core.LDAP/.vs/Core.LDAP/DesignTimeBuild/.dtbcache.v2
/Core.Email/Core.Email/obj
/Core.Email/Core.Email/bin/Debug/netcoreapp3.1
/Core.Email/.vs/Core.Email/v16
/Core.Email/.vs/Core.Email/DesignTimeBuild
/Core.GraphAPI.Email/.vs/Core.GraphAPI.Email
/Core.GraphAPI.Email/Core.GraphAPI.Email/bin/Debug/netcoreapp3.1
/Core.GraphAPI.Email/Core.GraphAPI.Email/obj
/Core.SendGrid.Email/.vs/Core.SendGrid.Email
/Core.SendGrid.Email/Core.SendGrid.Email/bin/Debug/netcoreapp3.1
/Core.SendGrid.Email/Core.SendGrid.Email/obj
*.dll
*.pdb
*.exe
/Core.LDAP/LDAP/bin/Debug
/Core.LDAP/LDAP/obj
*.suo
/Core.Utilities/Core.Utilities/bin/Debug/netstandard2.0
/Core.Utilities/Core.Utilities/obj
/Core.BlazorComponents/Core.BlazorComponents/bin/Debug/netcoreapp3.1
/Core.BlazorComponents/Core.BlazorComponents/obj
/Core.Utilities/.vs/Core.Utilities/DesignTimeBuild
/Core.BlazorComponents/.vs/Core.BlazorComponents/DesignTimeBuild/.dtbcache.v2
/Core.BlazorComponents/Core.BlazorComponents
/Core.BlazorComponents/.vs/Core.BlazorComponents/config
/Core.Crypto/Core.Crypto/obj
/Core.Crypto/Core.Crypto/bin/Debug/netstandard2.0
/Core.Crypto/.vs/Core.Crypto/DesignTimeBuild
/Core.LDAP/Core.LDAP/bin/Release/netstandard2.0
