<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- Default Package Sources; works like the 'packageSources' section of NuGet.Config files. -->
  <!-- This collection cannot be deleted or modified but can be disabled/enabled by users. -->
  <packageSources>
    <add key="OtherPackages" value="https://pkgs.dev.azure.com/atkins-global/52b4661a-1a80-4fa5-8da7-83f9cbae0def/_packaging/OtherPackages/nuget/v3/index.json" />
	<add key="AssessmentOtherPackages" value="https://pkgs.dev.azure.com/atkins-global/d1639f0e-3e19-4f53-8664-23454ba8e4ae/_packaging/AssessmentOtherPackages/nuget/v3/index.json" />
	<add key="StandardsPackages" value="https://pkgs.dev.azure.com/atkins-global/Standards/_packaging/StandardsPackages/nuget/v3/index.json" />
    <add key="ScottyPackages" value="https://pkgs.dev.azure.com/atkins-global/ChatBot/_packaging/ScottyPackages/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>